h1 BookRanking

p このメールアドレスを用いてアカウントが作成されました。
p メール認証のため下記のリンクをクリックしてください。

a(href="localhost:3000/users/#{@user.id}/confirm/#{CGI.escape(@user.confirm_hash)}") メール認証

br
br
br
br
br
br
br
br
br
br

a(href="google.com") このメールに心当たりのない方

