.h-100
  img.h-100.mh-100(alt="book" src="#{tag_relation.book.cover_image.url}" data-container="body")
  .bg-secondary.w-100.text-center
    a.font-weight-bold.text-white(href="/books/#{tag_relation.book.id}") #{tag_relation.score} pt

