/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

body {
  font-size: 14px;
}

.vertical-text {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.over-hidden {
  overflow: hidden;
}

.over-y-hidden {
  overflow-y: hidden;
}

.over-x-hidden {
  overflow-x: hidden;
}

.ranking-option-box {
  .current-option {
    a.badge {
    }
  }

  .options {

  }
}

.badge {
  font-size: 13px;
}

.ranking {
  .card.book {
    margin-bottom: 20px;
  }
  .card-body {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    .book-img {
      flex-grow: 0;
      img {
        width: 200px;
        height: auto;
        float: left;
      }
          }
    .book-status {
      flex: 2 2 200px;
    }  
  }
}

.bookshelf {
  display: flex;
  flex-flow: row wrap;

  .card {
    width: 200px;
    height: auto;
    flex-grow: 1.5;

    img.card-ima-top {
      width: 100%;
    }

    .card-header {
      
    }
  }
}

.card {
  .card-header.button-header {
    text-align: center;
    .header-text {
      display: inline;
      float: left;
    }
    .btn {
      display: inline;
      float: right;
    }
  }
}

#notify {
  position: fixed;
  width: 80%;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  z-index: 100;
  //opacity: 0.0;
}

.break {
  white-space:pre-wrap;
}

.stars {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 24px;
  .stars-box {

    width: 105px;

    .star-back {
      z-index: 1;
      color: #ccc;
      display: inline-block;
    }
    
    .star {
      z-index: 2;
      position: absolute;
      max-width: 105px;
      white-space: nowrap;
      display: inline-block;
      overflow: hidden;
    }

    .star-rating {
      z-index: 3;
      max-width: 105px;
      white-space: nowrap;
      position: absolute;
      overflow: hidden;
      color: #e0ff16;
    }
  }

  .star-point {
    margin-left: 10px;
    float: right;
  }
  
  .star-text {
    margin-left: 10px;
    float: right;
    font-size: 14px;
  }
}

.card.review {
  .card-header {

    display: flex;
    align-items: center;

    .user_icon {
      width: 60px;
      height: 60px;
    }
    .user_profile {
      margin-left: 15px;
      .point {
        font-size: 24px;
      }
      .info {
        display: flex;
        font-size: 12px;
      }
    }
  }
}

